
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body{
        background-color: hsl(30, 54%, 90%);
}


.container{
        background-color: hsl(0, 0%, 100%);
        width: 46%;
        margin-inline: auto;
        margin-block: 10vw;
        border-radius: 1.5vw;
        padding: 3.1vw;
        
}

img{
        width:100%;
        border-radius: 1.2vw;
}

hr{
        margin-top: 10px;
}

h1{
        font-family: 'Young Serif';
        font-weight: 400;
        font-size: 2vw;
        padding-block: 1vw;
}

h2{
        font-family: 'Young Serif';
        font-weight: 400;
        font-size: 1.8vw;
        color: hsl(14, 45%, 36%);
        padding-block: 1vw;
}

h3{
        font-family: 'Outfit';
        font-weight: 700;
        font-size: 1.2vw;
        color:hsl(332, 51%, 32%);
        padding-bottom: 1vw;
}

.prep{
        background-color: hsl(330, 100%, 98%);
        border-radius: 1.2vw;
        line-height: 10px;
        padding: 1vw ;
}

ol{
        padding-inline: 1vw;
}

li{
        padding-left: 5px;
}

ol li::marker{
        color: hsl(332, 51%, 32%);
        font-weight: 700;
}

.firstp{
        margin-bottom: 1vw;
}

p, li, table{
        font-family: 'Outfit';
        font-weight: 400;
        font-size: 1.041vw;
        line-height: 1.8vw;
        color:hsla(15, 4%, 18%, 0.833) ;
}

table{
        border-collapse: collapse;
        width: 100%;
        line-height: 3vw;
        margin-block: 2vw;
        
}

td{
        padding-right: 1vw;
        border-bottom: 1px solid hsla(15, 4%, 18%, 0.564);
}

th{
        text-align: left;
        border-bottom: 1px solid hsla(15, 4%, 18%, 0.564);
        color: hsl(14, 45%, 36%);
}


       